!!!5
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="HandheldFriendly", content="True")
    meta(name="MobileOptimized", content="320")
    mata(name="viewport", content="width=device-width, initial-scale=1")
    title= QuickCast
    link(rel="stylesheet", href="/css/app.min.css")
    link(rel="stylesheet", href="/css/layout.min.css", media="(min-width:1em)")
    script(src="/js/modernizr.min.js")
    script(src="//use.typekit.net/wom0nvr.js")
    script try{Typekit.load();}catch(e){}
  body
    .wrapper
      include ../includes/header.html
      block content
      include ../includes/footer.html
    script(src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js")
    script(src="/js/video.min.js")