!!!5
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="HandheldFriendly", content="True")
    meta(name="MobileOptimized", content="320")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="twitter:card", content="summary")
    meta(name="twitter:site", content="@quickcast")
    meta(name="twitter:title", content="#{title} &mdash; QuickCast. Make. Publish. Share. 3 Minute Screencasts")
    meta(name="twitter:description", content="#{desc}")
    meta(name="twitter:image", content="#{img}")
    title #{pageTitle} &mdash; QuickCast. Make. Publish. Share. 3 Minute Screencasts
    link(rel="stylesheet", href="/css/app.min.css")
    link(rel="stylesheet", href="/css/layout.min.css", media="(min-width:1em)")
    script(src="/js/modernizr.min.js")
    script(src="//use.typekit.net/wom0nvr.js")
    script try{Typekit.load();}catch(e){}
  body(class="{#bodyClass}")
    .loader
      p
      span
    .wrapper
      block content
      include ../includes/footer.html
    script(src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js")
    script(src="/js/video.min.js")
    include ../includes/analytics.html