extend layouts/general
block content
	.content.not-found
		.body
			h1 Oh! it's a 404
			p The QuickCast you are looking for may have been removed, please check the URL is correct and try again.
			p Not sure what QuickCast is?  
			a(href="http://quickcast.io") Find out more
				.