extend layouts/general
block content
	.content.general
		.body
			h1 We have a problem!
			p Something is not working as expected, we'll get this fixed and normal service resume shortly!
			blockquote #{error}