extend layouts/layout-general
block content
	.content.general
		.body
			h1 Confirm password
			p Enter your new password below.
			section.section
				form(method="POST")
					if !updated
						input(id="reset", name="reset", type="password", placeholder="New password")
						button(type="submit") Confirm
					else
						span.msg Thank you, your password has been successfully updated