extend layout
block content
  ul
    li 
      a(href='/v1/setup') Destroy / Create
    li
      a(href='/v1/signup') Signup
    li
      a(href='/v1/form/signup') Signup Form (for testing)
    li
      a(href='/v1/signin') Signin
    li
      a(href='/v1/form/signin') Signin Form (for testing)
    li
      a(href='/v1/users') Users