extend layouts/layout-general
block content
	.content.general
		.body
			h1 Reset your password
			p Enter your username or email address and we'll send you an email with instructions on how to reset your password.
			section.section
				form(method="POST")
					if !posted
						input(id="reset", name="reset", type="text", placeholder="Username or Email address")
						button(type="submit") Confirm
					else
						span.msg Thank you, an email with instructions has been sent