extend layout
block content
  ul
    li
      a(href='/api/v1/casts/setup') Setup
      p GET. Drop and Create table 'casts, tags, casts_tags'
    li 
      a(href='/api/v1/casts/publish') Publish
      p PUT. Headers: token. Body: description, name, tags (comma separated), intro, outro. Responds with JSON (temp amazon access keys, requesting user details and cast id) or 401
    li 
      a(href='/api/v1/casts/publish/update') Publish Update
      p POST. Headers: token Body: description, name, intro, outro, castid, tags (comma separated). Responds with cast or 401
    li 
      a(href='/api/v1/casts/publish/complete') Publish Complete
      p POST. Headers: token, castid, size, length. height. width. Responds with JSON 200, 400 or 401