extend layout
block content
  p
    input(id='token', type='text', placeholder='token')
    input(id='button', type='button', value='submit')
  p.response
block script
  | $('#button').on('click', function() {
  | $.ajax({
  |   type: "GET",
  |   dataType: "json",
  |   timeout: 1000,
  |   url: "/v1/decks/publish",
  |   headers: {
  |     token:$('#token').val()
  |   },
  |   success: function(res){
  |     console.log(res);$('.response').html('Success');
  |   },
  |   error: function(){ $('.response').html('Error'); }
  | });
  | return false;
  | });