extend layout
block content
  ul
    li 
      a(href='/v1/decks/publish') Publish
      p Send the token through the header to access, responds with JSON (temp amazon access keys and requesting user details)