!!!5
html
  head
    title #{title}
  body
    header
      h1 API Decks
    .container
      .main-content
        block content
  script(src='//code.jquery.com/jquery-2.0.0.min.js', type='application/javascript')
  | <script type='text/javascript'>
  block script
  | </script>