extend layout
block content
  p
    input(id='username', type='text', placeholder='username')
    input(id='password', type='password', placeholder='password')
    input(id='button', type='button', value='submit')
  p.response
block script
  | $('#button').on('click', function() {
  | $.ajax({
  |   type: "POST",
  |   dataType: "json",
  |   timeout: 1000,
  |   url: "/v1/users/signin",
  |   headers: {username:$('#username').val(), password:$('#password').val()},
  |   success: function(res){
  |     $('.response').html('Successfully authenticated: ' + res.token);
  |   },
  |   error: function(){ $('.response').html('Failed to authenticate'); }
  | });
  | return false;
  | });