extend layout
block content
  ul
    //- li
    //-  a(href='/api/v1/users/setup') Setup
    //-  p GET. Drop and Create table 'users'
    li
      a(href='/api/v1/users/signup') Signup
      p PUT. Headers: firstname, lastname, username, email, password. mailinglist. Responds with JSON (token) or 403
    li
      a(href='/api/v1/users/signin') Signin
      p POST. Headers: username, password. Responds with JSON (token &amp; email) or 401
    li
      a(href='/api/v1/users/userbytoken') User
      p GET. Headers: token. Responds with JSON (user for sent token) or 401
    li
      a(href='/api/v1/users/usercasts') User Casts (Latest 10)
      p GET. Headers: token. Responds with JSON or 401